In [1]:
import pandas as pd

In [2]:
housing=pd.read_csv("Housing.csv")

In [3]:
housing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 545 entries, 0 to 544
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   price      545 non-null    int64
 1   area       545 non-null    int64
 2   bedrooms   545 non-null    int64
 3   bathrooms  545 non-null    int64
 4   stories    545 non-null    int64
 5   parking    545 non-null    int64
dtypes: int64(6)
memory usage: 25.7 KB

In [4]:
housing.head()

      price  area  bedrooms  bathrooms  stories  parking
0  13300000  7420         4          2        3        2
1  12250000  8960         4          4        4        3
2  12250000  9960         3          2        2        2
3  12215000  7500         4          2        2        3
4  11410000  7420         4          1        2        2

## Making of the modal

In [5]:
import numpy as np
from sklearn.model_selection import train_test_split
train_set,test_set=train_test_split(housing,test_size=0.25,random_state=42)
print(len(train_set))
print(len(test_set))

408
137

## Checking the correlations

In [6]:
mat=housing.corr()
mat['price'].sort_values(ascending=False)

price        1.000000
area         0.535997
bathrooms    0.517545
stories      0.420712
parking      0.384394
bedrooms     0.366494
Name: price, dtype: float64

In [7]:
a=train_set.drop("price",axis=1)
a_labels=train_set["price"].copy()

## Model making cont

In [8]:
from sklearn.linear_model import LinearRegression
model=LinearRegression()
model.fit(a,a_labels)

LinearRegression()

In [9]:
def convert_to_int(word):
    word_dict = {'one':1, 'two':2, 'three':3, 'four':4, 'five':5, 'six':6, 'seven':7, 'eight':8,
                'nine':9, 'ten':10, 'eleven':11, 'twelve':12, 'zero':0, 0: 0}
    return word_dict[word]

## TESTING

In [10]:
tdata=a.iloc[:5]

In [11]:
tlabels=a_labels.iloc[:5]

In [12]:
model.predict(tdata)

array([5406081.47894739, 3826900.25037479, 3771895.30395913,
       2618923.35058669, 3654400.17963695])

In [13]:
list(a_labels)

[5285000,
 3675000,
 4200000,
 2275000,
 3570000,
 4620000,
 4200000,
 3087000,
 3255000,
 8855000,
 3640000,
 7343000,
 4690000,
 4305000,
 3640000,
 4403000,
 4270000,
 2940000,
 4795000,
 8540000,
 4235000,
 7700000,
 3500000,
 3360000,
 4970000,
 3150000,
 5530000,
 5880000,
 3710000,
 3640000,
 8400000,
 6083000,
 4760000,
 3080000,
 5243000,
 7245000,
 4550000,
 8575000,
 8960000,
 3500000,
 6930000,
 4613000,
 4340000,
 4473000,
 3780000,
 6300000,
 5215000,
 5040000,
 4515000,
 8645000,
 2660000,
 3118850,
 2450000,
 10850000,
 6020000,
 7560000,
 4123000,
 4098500,
 9100000,
 7455000,
 4900000,
 3423000,
 12215000,
 4382000,
 3850000,
 7140000,
 4970000,
 2380000,
 6090000,
 3710000,
 4200000,
 8400000,
 4620000,
 4900000,
 8463000,
 10150000,
 5215000,
 7420000,
 6107500,
 7980000,
 5495000,
 2450000,
 5950000,
 3465000,
 6020000,
 2450000,
 4900000,
 5250000,
 3605000,
 4690000,
 5600000,
 5005000,
 3360000,
 3290000,
 4543000,
 4200000,
 3395000,
 2653000,
 5652500,
 3395000,
 6895000,
 4270000,
 4690000,
 5250000,
 5075000,
 3990000,
 3325000,
 2695000,
 5033000,
 6615000,
 6090000,
 4200000,
 5600000,
 6405000,
 5565000,
 3080000,
 3150000,
 4480000,
 4277000,
 3465000,
 4319000,
 6195000,
 4025000,
 6650000,
 3780000,
 2380000,
 5950000,
 4060000,
 3885000,
 3500000,
 2852500,
 4200000,
 2940000,
 3920000,
 3290000,
 4130000,
 8043000,
 5740000,
 4515000,
 4025000,
 7210000,
 6090000,
 4200000,
 4200000,
 4445000,
 3430000,
 5600000,
 4403000,
 3290000,
 7962500,
 3773000,
 4935000,
 3430000,
 5600000,
 3150000,
 5600000,
 3773000,
 4025000,
 5950000,
 2940000,
 6300000,
 5600000,
 4585000,
 3010000,
 6300000,
 3150000,
 4200000,
 3500000,
 5950000,
 5145000,
 4900000,
 4550000,
 3850000,
 3920000,
 3500000,
 3430000,
 3150000,
 4060000,
 5943000,
 3850000,
 4760000,
 2485000,
 4795000,
 5873000,
 2940000,
 4007500,
 2135000,
 2870000,
 2870000,
 3493000,
 3920000,
 4200000,
 3395000,
 3570000,
 3255000,
 6083000,
 5215000,
 3815000,
 3570000,
 3640000,
 4095000,
 5565000,
 3150000,
 4620000,
 2590000,
 3780000,
 5390000,
 4060000,
 5740000,
 4956000,
 4480000,
 4655000,
 6020000,
 5950000,
 3500000,
 4760000,
 3115000,
 3605000,
 3836000,
 5880000,
 2100000,
 4235000,
 2800000,
 3010000,
 6125000,
 3360000,
 3675000,
 5810000,
 2310000,
 7560000,
 5250000,
 6930000,
 4270000,
 6510000,
 4550000,
 5110000,
 3290000,
 5460000,
 9310000,
 8080940,
 8400000,
 5250000,
 5600000,
 3150000,
 3535000,
 4767000,
 6300000,
 7420000,
 4585000,
 3360000,
 3780000,
 3290000,
 5229000,
 3220000,
 7840000,
 2730000,
 3220000,
 4900000,
 3500000,
 4270000,
 3745000,
 3500000,
 4480000,
 3010000,
 11410000,
 4480000,
 2590000,
 6230000,
 4690000,
 2590000,
 4893000,
 2940000,
 5250000,
 6293000,
 4200000,
 4830000,
 7070000,
 3465000,
 7490000,
 8295000,
 4403000,
 3990000,
 4900000,
 2604000,
 8400000,
 2835000,
 4690000,
 4473000,
 3640000,
 4200000,
 3360000,
 5460000,
 3500000,
 2940000,
 5740000,
 7070000,
 5775000,
 5873000,
 2275000,
 9870000,
 3990000,
 3850000,
 7000000,
 4200000,
 9240000,
 5523000,
 7875000,
 3633000,
 5110000,
 2100000,
 4830000,
 3430000,
 4270000,
 2730000,
 2835000,
 3920000,
 4620000,
 4900000,
 4893000,
 4200000,
 2485000,
 4515000,
 1960000,
 3129000,
 1750000,
 4200000,
 3780000,
 4375000,
 3150000,
 4900000,
 5460000,
 7700000,
 4830000,
 3500000,
 5040000,
 4130000,
 4473000,
 6160000,
 7350000,
 3500000,
 12250000,
 2660000,
 3710000,
 7420000,
 3360000,
 6629000,
 4900000,
 8120000,
 3290000,
 4410000,
 3332000,
 3143000,
 3220000,
 3675000,
 6419000,
 3885000,
 2345000,
 7350000,
 3850000,
 4410000,
 4550000,
 9240000,
 4095000,
 6475000,
 3500000,
 4340000,
 5320000,
 3990000,
 1855000,
 5803000,
 4165000,
 2870000,
 2240000,
 2653000,
 4060000,
 4550000,
 5040000,
 2961000,
 2520000,
 7210000,
 2975000,
 4515000,
 8680000,
 4095000,
 3115000,
 5460000,
 4305000,
 5040000,
 3570000,
 3430000,
 2835000,
 3850000,
 4165000,
 5866000,
 6265000,
 3640000,
 6475000,
 3115000,
 3990000,
 4865000,
 3010000,
 5950000,
 8750000,
 6755000,
 6160000,
 4340000,
 3290000,
 6195000]

## saving the model

In [14]:
import pickle
pickle.dump(model, open('model.pkl','wb'))

## usage example

In [16]:
from joblib import dump,load
import numpy as np
model = pickle.load(open('model.pkl','rb'))
check=np.array([[8000,4,4,'five','three']])
model.predict(check)

/opt/anaconda3/lib/python3.8/site-packages/sklearn/utils/validation.py:63: FutureWarning: Arrays of bytes/strings is being converted to decimal numbers if dtype='numeric'. This behavior is deprecated in 0.24 and will be removed in 1.1 (renaming of 0.26). Please convert your data to numeric values explicitly instead.
  return f(*args, **kwargs)

ValueError: Unable to convert array of bytes/strings into decimal numbers with dtype='numeric'